<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Flag-Ship <br> Phones</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
              <% if(locals.user) { %>
          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/product" class="nav-link">Product</a></li>
          <li class="nav-item"><a href="/order" class="nav-link">Orders</a></li>
          <li class="nav-item cta cta-colored"><a href="/profile" class="nav-link"><span class="icon-user"></span> My profile </a></li>
          <li class="nav-item cta cta-colored"><a href="/wishlist" class="nav-link"><span class="icon-heart"></span>Wishlist</a></li>
          <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span class="icon-shopping_cart"></span>Cart</a></li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="" id="dropdown099" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><button class="btn btn-light"><%-locals.userName-%></button></a>
          <div class="dropdown-menu" aria-labelledby="dropdown099">
            <a class="dropdown-item" href="/contact">Contact</a>
          <a class="dropdown-item" href="/logout">Log-Out</a>
        </div>
    </li>

          <% } else { %>
            <li style=" display: flex  ; " class="nav-item ">
              <a class="btn btn-primary nav-link" href="/signup" style=" padding-top: 1.5em; padding-bottom: 1em; height: 3rem;" >Register </a>
              <a class="btn btn-primary nav-link ml-3" href="/login" style=" padding-top: 1.5em; padding-bottom: 1em; height: 3rem;">Sign in</a>
            </li>
          <% } %>
        </ul>
    </div>
  </nav>
<!-- END nav -->