<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <img src="/assets3/user.png" alt="">
        </div>
        <div class="text-center mt-4 name">
            Sign In
        </div>
        <form action="/" method="post" class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="email" name="email" id="username" placeholder="Username">
            </div>
            <% if(locals.emailErr) { %>
                <div id="msg" class="alert alert-danger ml-4 "><%- locals.emailErr -%></div>
              <% } %>              
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <% if(locals.passErr) { %>
            <div id="msg" class="alert alert-danger ml-4 "><%- locals.passErr -%></div>
            <% } %> 
            <button type="submit" class="btn mt-3 " style="margin-bottom: 0.5em;">LogIn</button>
            <p style="text-align: center ;">OR</p>
            <button type="button" class="btn mt-5" style="margin-top: 0.5em;"><a style="color: white;" href="/otpLoginPage">Login with OTP</a></button>
        </form>
        <div class="text-center fs-5">
            <p style="margin-bottom: 1em;"><a href="/forgotPassword">Forgot Password</a></p>
           to create a account <a href="/signup">Sign up</a>
        </div>
    </div>
    <script>
        setTimeout(()=>{
            document.getElementById('msg').style.display='none'
        },3000)
    </script>
</body>
</html>