<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <div class="wrapper">
       
        <div class="text-center mt-4 name">
             Phone number for login without country code +91: 
        </div>
        <form action="/otpLoginPagePost" method="post" class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="tel" name="mobile" id="mobile" maxlength="10" placeholder="Mobile number" required>
            </div>
            <% if(locals.errMsg) { %>
            <div id="msg" class="alert alert-danger ml-4 "><%- locals.errMsg -%></div>
            <% } %> 
            <button type="submit" class="btn mt-3 " >Submit for OTP</button>
        </form>
        <div class="text-center fs-5">
           to create a account <a href="/signup">Sign up</a>
        </div>
    </div>
    <script>
        setTimeout(()=>{
            document.getElementById('msg').style.display='none'
        },3000)
    </script>
</body>
</html>