<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>
    <div class="wrapper wrapperSmall" >
        <div class="text-center mt-4 nameSignup">
            Enter OTP
        </div>
        <form action="/otpVerificaion" method="post" class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="otp" id="fullName" placeholder="OTP" required>
            </div>
            
            <% if(locals.errMsg) { %>
                <div id="msg" class="alert alert-danger ml-4 "><%- locals.errMsg -%></div>
              <% } %>  
            <button type="submit" class="btn mt-3">Submit OTP</button>


        </form>
    </div>

    
 
    <script>
        setTimeout(()=>{
            document.getElementById('msg').style.display='none'
        },3000)
    </script>
</body>
</html>